nav {
	background: $base-color;
}
nav ul {
	margin: 0;
	text-align: center;
}
nav li {
	display: inline-block;
	padding: 20px;
}
nav li:hover {
  background: $sub-color;
}
nav li a:hover {
	text-decoration: none;
}
.comming-soon {
	background: #bbb;
}
.comming-soon a {
	color: #999;
}
.comming-soon:hover {
	background: #bbb;
}
.comming-soon a:hover {
	color: #999;
}
.back {
	background: $sub-color;
}
.converter {
	background: $alert-color;
}
.pull-right,
.pull-left {
position: absolute;
}
.pull-left {
	left: 0;
}
.pull-right {
	right: 0;
}
