/* Global Resets
———————————————————————————————————— */
* {
	box-sizing: border-box !important;
}
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}
body {
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
	background: #f2f2f2;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 60px;
}
a {
  color: #fff;
  text-decoration: none;
  }
li {
	width: 80px;
	height: 80px;
	display: inline-block;
	margin: 10px 10px 28px;
	position: relative;
}
span {
  position: absolute;
  bottom: -20px;
  background: #fff;
  width: 100%;
  padding: 5px;
  color: #bbb;
}
aside {
  width: 60px;
  background: #0ba;
  position: fixed;
  height: 100%;
  color: #fff;
}
aside a {
	padding: 10px;
}
header {
  background: #344;
  color: #fff;
  margin-left: 60px;
  padding: 20px;
}