/* Global Resets
———————————————————————————————————— */
$base-color: #0ba;
$alt-color: #fff;
* {
	box-sizing: border-box !important;
}
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}
body {
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
	background: #f2f2f2;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 60px;
}
a {
  color: $alt-color;
  text-decoration: none;
  }
li {
	width: 80px;
	height: 80px;
	display: inline-block;
	margin: 10px 10px 28px;
	position: relative;
}
li { transition: all .1s ease-in-out; }
li:hover { transform: scale(1.3); }
span {
  position: absolute;
  bottom: -20px;
  background: $alt-color;
  width: 100%;
  padding: 5px;
  color: #bbb;
}
aside {
  width: 60px;
  background: $base-color;
  position: fixed;
  height: 100%;
  color: $alt-color;
}
aside a {
	padding: 10px;
}
header {
  background: rgba( $base-color, .4 );
  color: $alt-color;
  margin-left: 60px;
  padding: 20px;
}
article {
  max-width: 700px;
  margin: 0 auto;
}
h1 {
  font-size: 22px;
  margin: 0
}
h2 {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  color: rgba( $alt-color, .7 );
}